<!-- I thought I needed this code while I was having errors, but ended up not using it -->

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name", "Name" %>
    <%= form.text_field "name" %>
  </p>

  <%= form.submit %>
<% end %>
